@media(max-width:978px) {
   div#mainContent {
       max-width:initial;
   }
   div.colorBar{
       max-width:initial;
   }
}

#stations {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
}

.station-item {
    padding: 4% 6% !important;
}

.stationHidden {
    visibility: hidden;
    height: 0px !important;
    margin: 0px;
    margin-bottom: -1px !important;
    padding: 0px !important;
}

.card-action {
    text-align: center;
}

.ctrl-btn {
    margin-top: 10px;
}

.ctrl-button-group {
    display: -webkit-inline-box;
}

.input-field {
    margin: 30px !important;
}

input:focus{
    border-color: gray !important;
    box-shadow: none !important;
}

#songTitle {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

#songArtist {
    border: solid;
    padding: 20px;
    text-align: right;
    border-bottom: none;
    border-left: none;
}

#songAlbum {
    border: solid;
    padding: 20px;
    text-align: left;
    border-top: none;
    border-right: none;
}

#stationItems {
    height: 400px;
    overflow-y: auto;
}

#searchTagContainer i {
    margin-left: 3px;
}

body {
    background-color: #e7e7e7;
}

#mainContent {
    max-width: 900px;
    background-color: white;
    position: relative;
    top: 100px;
}
.colorBar {
    max-width: 900px;
    width: 100%;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgb(216, 201, 197);
    z-index: 30;
}
.stationSearchTag {
    box-shadow:0 1px 4px 0 rgba(0,0,0,0.37);
    margin-right: 6px;
    margin-bottom: 10px;
}
.stationSearchTag:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}
.stationSearchTag i:hover {
    font-size: 18px;
    position: relative;
    top: 2px;
}

#controls {
    margin: 0 auto;
    padding-bottom: 8px;
}
#addStation {
    position: absolute;
    right: 37px;
    bottom: 370px;
}
