<html>
<head>
    <title>Pianobar Client</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height, target-densitydpi=device-dpi">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><style type="text/css"></style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"  media="screen,projection"/>

    <script src="/static/main.js"></script>
  </head>
<body>
    <div class="row">

        <div class="col s12 m6">
            <div class="row" id="currentSongContainer">
                <div class="col s12 m12 l9">
                    <div class="card">
                        <div class="card-image">
                            <img id="songCoverArt" src="{{cover_art_src}}">
                        </div>
                        <div class="card-content">
                            <div class="flow-text" id="songArtist">{{artist}}</div>
                            <div class="card-title" id="songTitle">{{title}}</div>
                            <div class="flow-text" id="songAlbum">{{album}}</div>
                        </div>
                        <div class="card-action">
                            <div id="controls" style="">
                                    <div id="pause" class="ctrl-btn waves-effect waves-light btn">
                                        <i class="fa fa-pause"></i>
                                    </div>
                                    <div id="play" class="ctrl-btn waves-effect waves-light btn">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div id="next" class="ctrl-btn waves-effect waves-light btn">
                                        <i class="fa fa-step-forward"></i>
                                    </div>
                                    <span class="ctrl-button-group">
                                        <div id="lowerVolume" class="ctrl-btn waves-effect waves-light btn">
                                            <i class="fa fa-volume-down"></i>
                                        </div>
                                        <div id="raiseVolume" class="ctrl-btn waves-effect waves-light btn">
                                            <i class="fa fa-volume-up"></i>
                                        </div>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div id="stations" class="collection with-header">
                <div class="collection-header">
                    <div class="input-field">
                        <input id="stationSearch" type="text" class="validate">
                        <label for="stationSearch">Stations</label>
                    </div>
                </div>
                {% for stationId, stationName in stations.iteritems() %}
                <a class="collection-item station-item" data-station-id="{{stationId}}">
                    {{stationName}}
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
    <script>
    $(function() {
        main({{stationId}})
    });
    </script>
</body>
