{% load static %}
<html>
<head>
    <title>Pianobar Client</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height, target-densitydpi=device-dpi">

    <!-- External CSS Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"  media="screen,projection"/>

    <!-- Internal CSS Styles -->
    <link rel="stylesheet" type="text/css" href= "{% static "web/style.css" %}">

    <!-- External Javscript Libraries -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="{% static "web/lib/fuse.min.js" %}"></script>

    <!-- Internal Javscript Libraries -->
    <script src="{% static "web/main.js" %}"></script>

  </head>
<body>

    <div class="row" id="mainContent">
        <div class="colorBar color-me-back valign-wrapper">
                <div id="controls" class="valign">
                        <span class="ctrl-button-group">
                            <div id="pause" class="ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-pause"></i>
                            </div>
                            <div id="play" class="ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-play"></i>
                            </div>
                            <div id="next" class="ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-step-forward"></i>
                            </div>
                        </span>
                        <span class="ctrl-button-group">
                            <div id="lowerVolume" class="ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-volume-down"></i>
                            </div>
                            <div id="raiseVolume" class="ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-volume-up"></i>
                            </div>
                        </span>
                        <span class="ctrl-button-group">
                            <div class="wikipediaActionBtn ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                            </div>
                            <div class="changeColorBtn ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-flask"></i>
                            </div>
                        </span>
                </div>
        </div>
        <div class="col s12 m7">
            <div class="row" id="currentSongContainer">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div id="coverArtContainer" class="card-image colorz-bc-0">
                            <div id="dumpImage" class="hidden">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                            <img id="songCoverArt" src="{{cover_art_src}}">
                        </div>
                        <div class="card-content flow-text">
                            <div id="songArtist" class="cardContentBorder">{{artist}}</div>
                            <div id="songTitle">{{title}}</div>
                            <div id="songAlbum" class="cardContentBorder">{{album}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m5">
            <div id="stations" class="collection with-header">
                <div class="collection-header">
                    <div class="tabNavBar">
					  <div class="row">
						  <div class="col s4">
                              <a id="navStations" class="waves-effect waves-light btn navTab navTabActive">
                                  <i class="fa fa-bars" aria-hidden="true"></i>
                              </a>
                          </div>
						  <div class="col s4">
                              <a id="navHistory" class="waves-effect waves-light red btn navTab">
                                  <i class="fa fa-history" aria-hidden="true"></i>
                              </a>
                          </div>
						  <div class="col s4">
                              <a id="navFavorites" class="waves-effect waves-light red btn navTab">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </a>
                          </div>
						</div>
                    </div>
                    <div id="searchTagContainer">
                        <div id="majorTags"></div>
                        <div id="minorTags"></div>
                    </div>
                    <div class="searchContainer">
                        <input placeholder="filter" id="stationSearch" type="text">
                    </div>
                </div>
                  <a id="addStation" class="btn-floating btn-large 
                      waves-effect waves-light red btn modal-trigger"
                      href="#addStationModal">
                      <i id="addStationIcon"
                          class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                <div id="addStationModal" class="modal colorz-bc-0">
                    <div class="modal-content">
                      <h4 class="colorz-c-2">Add Station</h4>
                      <form>
                          <div id="chooseStationType">
                              <input class="colorz-c-2"name="stationType" type="radio" id="addArtistRadio" checked />
                              <label class="colorz-c-2" for="addArtistRadio">Artist</label>
                              <input class="colorz-c-2"name="stationType" type="radio" id="addGenreRadio" />
                              <label class="colorz-c-2" for="addGenreRadio">Genre</label>
                          </div>
                          <div class="row">
                              <div class="input-field col s6">
                                  <input id="addStationInput" type="text" class="validate colorz-c-2">
                                  <label class="active colorz-c-2" for="addStationInput">What to play...</label>
                              </div>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer colorz-bc-1">
                      <a href="#!" class="modal-action modal-close 
                          waves-effect waves-green btn-flat colorz-c-0">
                          Finish
                      </a>
                    </div>
                </div>

                <div id="artistInfoModal" class="modal colorz-bc-0">
                    <div class="modal-content">
                      <div id="artistInfoText" class="row"></div>
                    </div>
                    <div class="modal-footer colorz-bc-1">
                            <div class="changeColorBtn ctrl-btn waves-effect waves-light btn">
                                <i class="fa fa-flask"></i>
                            </div>
                      <a href="#!" class="modal-action modal-close 
                      waves-effect waves-green btn-flat colorz-c-0">
                        <span id="artistInfoName"></span>
                      </a>
                    </div>
                </div>

                <div id="tagItemContainer">
                    <div id="majorTagContainer" class="hidden"></div>
                    <div id="stationItems">
                    {% for stationId, stationName in stations %}
                    <a class="collection-item flow-text station-item" data-station-id="{{stationId}}">
                        {{stationName}}
                    </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
    $(function() {

        // In a non-lazy future, use the API and parse that damn shiz
        window.stations = [];
        {% for stationId, stationName in stations %}
          window.stations.push({
            "stationName": "{{stationName}}",
            "id": {{stationId}}
          });
        {% endfor %}
        var options = {
            keys: ['stationName'],
            threshold: 0.3,
        }
        window.fuse = new Fuse(window.stations, options);

        main();
        $('.modal-trigger').leanModal();
    });
    </script>
</body>
